* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header{
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
}

.navbar {
    width: 98%;
    height: 20vh;
    /* border: 3px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* box-shadow: 1px 1px 3px 3px rgba(128, 128, 128, 0.527); */
}

.dv2 {
    width: 130px;
    height: max-content;
    /* border: 1px solid red;    */
    display: flex;
    justify-content: space-between;
}

.same {
    font-size: 16px;
    cursor: pointer;
}

.same:hover {
    color: #FF3272;
}

.navbar-dv {
    width: 60%;
    height: max-content;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logo-dv {
    width: max-content;
    height: max-content;
    border: 1px solid;

} */
.ul-list {
    width: 490px;
    height: max-content;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 10%;
    position: relative;
    
}

.li {
    font-size: 14px;
    margin-left: 2%;
    font-weight: 500;
    cursor: pointer;
}
.li:hover{
    color: #FF3272;
}

.li2 {
    color: #FF3272;

}

.dropdown {
    width: 180px;
    height: 250px;
    border-top: 2px solid red;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.34s;
    box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.322);

}
.dropdown:hover{
    top: 40px;
    opacity: 1;
    visibility: visible;
    
}

.li:hover +.dropdown{
    opacity: 1;
    visibility: visible;
    top: 40px;

}
.dropdown1 {
    width: 180px;
    height: 90px;
    border-top: 2px solid red;
    background-color: white;
    position: absolute;
    top: 60px;
    left:20%;
    opacity: 0;
    visibility: hidden;
    transition: 0.34s;
    box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.322);
}
.dropdown1:hover{
    top: 40px;
    opacity: 1;
    visibility: visible;
    
}

.li:hover +.dropdown1{
    opacity: 1;
    visibility: visible;
    top: 40px;

}
.dropdown2 {
    width: 180px;
    height: 250px;
    border-top: 2px solid red;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 40%;
    opacity: 0;
    visibility: hidden;
    transition: 0.34s;
    box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.322);
}
.dropdown2:hover{
    top: 40px;
    opacity: 1;
    visibility: visible;
    
}

.li:hover +.dropdown2{
    opacity: 1;
    visibility: visible;
    top: 40px;

}
.text-dv{
    width: 100%;
    height: 40px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}
.color-dv{
    width: 0%;
    height: 100%;
    background-color: #ff3273;
    position: absolute;
    left: 0;
    transition: 0.3s;
    
}
.text-dv:hover .color-dv{

    width: 90%;
    background-color: #ff32734d;
    /* transition: 0.2s linear; */
    right: 0;
}
.icon-dv {
    width: 50px;
    height: 70px;
    height: max-content;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;

}
.fa-bars {
    font-size: 25px;
    cursor: pointer;
}
.hero-section{
    width: 100%;
    /* height: 70vh; */
    background-color: #FAFAFA;
    padding: 1px;
    padding-bottom: 110px;
}
.text-section{
    width: 40%;
    height: max-content;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 110px;
}
.text1{
    text-align: center;
    color: gray;

}
.text2{
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
}
.text3{
    text-align: center;
    margin-top: 10px;
    line-height: 24px;
    color: gray;
}
.container{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
    
}
.circle-dv{
    width: 400px;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -1;
}
@keyframes play{
    0%{
        rotate: 0;   
    }
    100%{
        rotate: 360deg;
    }
}
.image1{
    width: 100%;
    height: 100%;
    animation: play 12s linear infinite;
  
    
}
.main-dv{
    width: 90%;
    height: max-content;
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    margin: auto;
    /*  */

}
.box1{
    width: 35%;
    height: max-content;
    /* border: 1px solid blue; */
    margin-top: 100px;
}
.color-dv1{
    width: 100px;
    height: 4px ;
    background-color: #FF3272;
    margin-top: 10px;
}
.text4{
    margin-top: 20px;
    color: gray;
}
.box-a{
    width: 90%;
    padding-bottom: 20px;
    /* height: 120px; */
    border-bottom: 1px solid gray;
    margin-top: 20px;
}
.text5:hover{
  text-decoration: line-through;
  color: #FF3272;
}
.text6{
    margin-top: 20px;
    color: gray;
}
.box2{
    width: 700px;
    margin-top: 20%;
}
.image2{
    width: 100%;
}
.container2{
    width: 100%;
    height: 80vh;
    background-color: #FFF0DE;
    padding: 1px;
}
.slider{
    width: 65%;
    /* height: 400px; */
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 120px;
    overflow: hidden;
    /* display: flex; */
}
.slider-div{
    width: 200%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    animation: play2 3s linear infinite;
}
@keyframes play2{
    0%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    50%{
        margin-left: -100%;
    }
    75%{
        margin-left: -100%;
    }
    100%{
        margin-left: -100%;
    }
}
.full-slider{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: column; */
}
.div-1  {
    width: 100%;
    height: 100%;
    /* border: 3px solid navy; */
}
.circle-image{
    width:max-content;
    height: max-content;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin: auto;

}
.aa{
    /* width: 100%;
    height: 100%; */
    border-radius: 50%;
}
.text7{
    color: gray;
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
}
.text8{
   text-align: center;
   margin-top: 10px;
}
.text9{
    text-align: center;
   margin-top: 10px;
}
.container3{
    width: 100%;
    padding-bottom: 50px;
    /* height: 100vh; */
    /* border: 1px solid red; */
}
.line-dv{
    width: 30%;
    height: max-content;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 90px;
}
.text10{
    text-align: center;
    font-size: 40px;

}
.line-1{
    width: 100px;
    height: 5px;
    background-color: #FF3272;
    margin: auto;
    margin-top: 20px;
}
.last-box{
    width: 87%;
    height:auto ;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    display: flex;
  
}
.block{
    width: 420px;
    height: max-content;
    /* border: 1px solid blue; */
    position: relative;
    overflow: hidden;
    /* transition: 0.34s; */
}
.team-a{
    width: 100%;
    height: 100%;
}


.white-dv{
    position: absolute;
    width: 125%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.767);
    left: -15%;
    bottom: -15%;
    rotate: -20deg;
    opacity: 0;
    transition: 0.50s;

}
.block:hover .white-dv{
    rotate: 20deg;
    opacity: 1;
}
.last-text{
    position: absolute;
    width: max-content;
    height: max-content;
    /* border: 1px solid blue; */
    bottom: 30px;
    left: 20px;
    opacity: 0;

}

.block:hover .last-text{
    opacity: 1;
}
.icon-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.more-logo{
    width: 90%;
    height: 30vh;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
   

}
.container5{
    width: 100%;
    height: max-content;
    background-color: #F4F9FF;
    padding: 1px;
    padding-bottom: 10%;
}
.footer-section{
    width: auto;
    height: max-content;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
   
}
.footer-logo{
    width: max-content;
    height: max-content;
}
.footer-icon{
    width: 15%;
    height: max-content;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    flex-wrap: wrap;
}
.same1{
   font-size: 14px;
   margin-top: 10px;
   
}




/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
@media  (max-width:1180px){
    .main-dv{
      
        flex-direction: column;
    }
    .box1{
        width: 100%;

    }
    .box2{
        width: 100%;
        margin-top: 5%;
    }
    .last-box{
        flex-wrap: wrap;
    }
    .block{
        width: 50%;
    }
}

@media  (max-width:1030px){
    .logo-dv{
        display: none;
    }
 
}
@media  (max-width:850px){
    .last-box{
        flex-wrap: wrap;

    }
    .block{
        width: 100%;
    }
    .more-logo{
        overflow: auto;
    }
}

@media  (max-width:767px){
    .dv2{
        display: none;
    }
    .navbar-dv{
        width: 100%;
    }
    .ul-list{
        display: none;
    }
    .logo-dv{
        display: block;
    }
    .fa-bars{
        background-color: #FF3272;
        padding: 10px 10px;
        color: white;
       
    }
}
@media  (max-width:409px){

    .circle-dv{
        display: none;
    }
}